*.html
*.opendb
*.opensdf
*.sdf
*.suo
*.user
/bin
/bindings/Java/example/bin
/bindings/Java/example/out
/bindings/Java/native/bin
/bindings/Java/native/obj
/bindings/Java/wrapper/bin
/bindings/Java/wrapper/out
/bindings/Microsoft.NET/MHashDotNet384.Example/obj
/bindings/Microsoft.NET/MHashDotNet384.Wrapper/obj
/bindings/Microsoft.NET/bin
/bindings/Microsoft.NET/ipch
/bindings/Python/wrapper/bin
/bindings/Python/wrapper/obj
/ipch
/obj
/out
/tools/DevRandom/*.txt
/tools/DevRandom/bin
/tools/DevRandom/ipch
/tools/DevRandom/obj
/tools/GenTables/*.txt
/tools/GenTables/bin
/tools/GenTables/ipch
/tools/GenTables/obj
/tools/StressTester/*.txt
/tools/StressTester/bin
/tools/StressTester/ipch
/tools/StressTester/obj
