*.suo
*.sdf
*.user
*.opendb
*.opensdf
*.html
/bin
/ipch
/obj
/out
/tools/GenTables/*.txt
/tools/GenTables/bin
/tools/GenTables/ipch
/tools/GenTables/obj
/tools/DevRandom/*.txt
/tools/DevRandom/bin
/tools/DevRandom/ipch
/tools/DevRandom/obj
/tools/StressTester/*.txt
/tools/StressTester/bin
/tools/StressTester/ipch
/tools/StressTester/obj
