*.opensdf
*.sdf
*.suo
*.user
/*.html
/.vs
/bin
/build.ini
/etc/gentable_FIN/.vs
/etc/gentable_FIN/bin
/etc/gentable_FIN/ipch
/etc/gentable_FIN/obj
/etc/gentable_MIX/.vs
/etc/gentable_MIX/bin
/etc/gentable_MIX/ipch
/etc/gentable_MIX/obj
/frontend/bin
/frontend/obj
/frontend/obj
/ipch
/libmhash384/lib
/libmhash384/obj
/obj
/out
/ports/c-sharp/.vs
/ports/c-sharp/TestResults
/ports/c-sharp/libmhash384/bin
/ports/c-sharp/libmhash384/obj
/ports/c-sharp/test/bin
/ports/c-sharp/test/obj
/ports/delphi/**/*.dcu
/ports/delphi/**/*.exe
/ports/delphi/**/*.~dpr
/ports/delphi/**/*.~pas
/ports/java/bin
/ports/java/out
/testdata/*.sha256
/testdata/*.txt
